---
layout: default
---

<p>Hi I'm Elemer. I am interested in and work on economics, tech, physics, and Law.</p>

<h2>Writing</h2>
<ul class="post-list">
  {% for writing in site.writings %}
    <li>
      {% if writing.date %}
        <time>{{ writing.date | date: "%Y-%m-%d" }}</time>
      {% endif %}
      {% assign title = writing.title %}
      {% if title == "" or title == nil %}
        {% assign title = writing.content | strip_html | truncatewords: 10, "" %}
      {% endif %}
      <a href="{{ writing.url }}">{{ title }}</a>
    </li>
  {% endfor %}
</ul>
